* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.chinazom_section{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
    width: 50%;
    height: 400px;
    background-color: white;
}
.chinazom_section img{
    height: 100px;
    width: 100px;
}
.chinazom_section1{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #f19ed2;
}
.text{font-style: italic;margin-top: 2%;}

.nas img {
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.jesses_section{
    max-width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 0 0 ;
}
.product_textj{
    width: 45%;
    text-align: center;
    height: 250px;
    background-color: lightgrey;
    padding: 60px 0 0;
}
